@import 'colors';

* {
  box-sizing: border-box;
}

body, label, h1, h2, h3, h4, h5 {
  font-family: Lato, Helvetica, arial, sans-serif;
}

body {
  margin-top: 48px;
  padding: 0 1em 1em 1em;
  background: $paleryellow;
}

.errortext {
  color: $red;
}

.container {
  max-width: 580px;
  margin: 0 auto;
}

#app-mount {

}
