@import 'colors';

input[type="email"], input[type="number"],
input[type="search"], input[type="text"],
input[type="tel"], input[type="url"],
input[type="password"] {
  width: 100%;
}

input[type="email"]:focus, input[type="number"]:focus,
input[type="search"]:focus, input[type="text"]:focus,
input[type="tel"]:focus, input[type="url"]:focus,
input[type="password"]:focus {
  border-color: $cyan;
}

form, .bordered-form {
  position: relative;

  legend, label {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  legend {
    padding-right: 2em;
  }

}

.button-primary {
  background-color: $darkerblue !important;
  border-color: $darkerblue !important;
  color: $paleryellow !important;
}

.button-primary:focus,
.button-primary:hover {
  background-color: $darkblue !important;
  border-color: $darkblue !important;
}

.button-warning {
  background-color: $red;
  border-color: $red;
  color: $paleryellow;
}

.button-warning:focus,
.button-warning:hover {
  background-color: lighten($red, 10%);
  border-color: lighten($red, 10%);
  color: $white;
}

.bordered-form {

  border: 4px solid $darkgray;
  padding: 1em;
  margin-bottom: 1em;

  form, fieldset {
    margin-bottom: 0;
  }

}
