header.top-header {
  margin-bottom: 1em;

  h1 {
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  .profile {
    text-align: right;
  }

}
