@import 'colors';

.thermostats {
  margin-left: 50%;
}

.thermostat {
  width: 100%;
  text-align: center;
  color: $paleyellow;
  margin: 0;

  input, fieldset, label, legend {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  label[for="temperature"] {
    margin-bottom: 1em;
  }

  input[type="number"] {
    border: none;
    background-color: transparent;
    font-weight: 700;
  }

  button {
    color: $paleyellow;
    border-color: $paleyellow;
  }

  .temperature {
    text-align: center;
    font-size: 2.5em;

    legend {
      font-size: .33em;
    }

    input {
      font-size: 2.5em;
      height: .825em;
      margin: 0;
    }

  }

}
